<h1>New Bus</h1>

<%= form_with(model: @bus, local: true) do |form| %>
  <% if @bus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bus.errors.count, "error") %> prohibited this bus from being saved:</h2>
      <ul>
        <% @bus.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :bus_number %><br>
    <%= form.text_field :bus_number %>
  </div>

  <div>
    <%= form.label :level %><br>
    <%= form.number_field :level %>
  </div>

  <div>
    <%= form.label :bus_type %><br>
    <%= form.text_field :bus_type %>
  </div>

  <div>
    <%= form.label :capacity %><br>
    <%= form.number_field :capacity %>
  </div>

  <div>
    <%= form.label :bus_partner_id %><br>
    <%= form.number_field :bus_partner_id %>
  </div>

  <div>
    <%= form.submit "Create Bus" %>
  </div>
<% end %>

<%= link_to "Back", buses_path %>